@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');*{padding: 0px;margin: 0px}body{background: #8E24AA;color:#fff;font-family: 'Manrope', sans-serif}nav{display: flex;align-items: center;background: #AB47BC;height: 60px;position: relative;border-bottom: 1px solid #495057}.icon{cursor: pointer;margin-right: 50px;line-height: 60px}.icon span{background: #f00;padding: 7px;border-radius: 50%;color: #fff;vertical-align: top;margin-left: -25px}.icon img{display: inline-block;width: 26px;margin-top: 4px}.icon:hover{opacity: .7}.logo{flex: 1;margin-left: 50px;color: #eee;font-size: 20px;font-family: monospace}.notifications{width: 300px;height: 0px;opacity: 0;position: absolute;top: 63px;right: 62px;border-radius: 5px 0px 5px 5px;background-color: #fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}.notifications h2{font-size: 14px;padding: 10px;border-bottom: 1px solid #eee;color: #999}.notifications h2 span{color: #f00}.notifications-item{display: flex;border-bottom: 1px solid #eee;padding: 6px 9px;margin-bottom: 0px;cursor: pointer}.notifications-item:hover{background-color: #eee}.notifications-item img{display: block;width: 50px;height: 50px;margin-right: 9px;border-radius: 50%;margin-top: 2px}.notifications-item .text h4{color: #777;font-size: 16px;margin-top: 3px}.notifications-item .text p{color: #aaa;font-size: 12px}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background: linear-gradient(180deg, #005CB9 0%, #00A1DF 99.95%, #005CB9 99.96%, #17ABD1 99.97%, #002FD5 99.98%, #00A1DF 99.99%);
    color: white;
    /* padding: 10px 15px; */
    border: none;
  }
  .header-cp{
    padding: -16px;
  }
  nav{
    background:white;
    
    border-bottom: 0px solid #495057;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  }
  .boxBar{
    height: auto;
    opacity: 1;
    z-index: 99999;
  }
  
